form {
  display: flex;
  flex-direction: column;
  width: 30vw;
  margin: 10% auto;
  text-align: center;
  padding: 10px;
  border: 1px solid rebeccapurple;
  border-radius: 20px;

  & > * {
    margin-top: 1%;
  }
}

.check-button {
  background-color: darkgoldenrod;
}
